*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

:focus {
  outline: 2px dotted #000000;
}

p, li {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.item {
  padding: 1rem;
}

.glide__slide {
  border: 1px solid white;
}

.glide__slide:hover {
  border: 1px solid #3cb8b6;
}

.glide__arrow {
  padding: 0;
  box-shadow: none;
}

.glide__arrow--left {
  left: -2em;
}

.glide__arrow--right {
  right: -2em;
}

.glide__arrow-img--left,
.glide__arrow-img--right {
  width: 1.5rem;
  height: 1.5rem;
  fill: #3cb8b6;
}

.item__image {
  display: block;
  width: 100%;
}

.item__name {
  text-transform: uppercase;
  padding: 1rem 0;
}

.item__availability {
  padding: 1rem 0;
}

.item__left {
  font-size: 0.9rem;
  color: #008000;
}

.item__guarantee {
  font-size: 0.8rem;
}

.item__description {
  font-size: 0.8rem;
}

.item__price {
  padding-top: 1rem;
}

.price__full,
.price__discounted {
  font-size: 0.8rem;
}

.item__details {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.price__final {
  padding-top: 0.5rem;
  font-weight: 700;
}

.cta {
  display: block;
  border: none;
  padding: 0.7rem;
  background-color: #3cb8b6;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: background ease-in-out 300ms;
}

.cta:hover {
  background-color: #333232;
}
